body {
	background-color: #CFD6F1;
}
nav{
    color: #5E0035;
    margin-left: 400px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}

h1 {
	color: #5E0035;
	font-size: 70px;
	font-family: "Times New Roman", serif;
	margin-top: 5px;
}
h3{
	color: #5E0035;
	margin-left: 130px;
	margin-top: 50px;
	font-size: 40px;
	font-family: "Times New Roman", serif;
}
h2{
	color: #5E0035;
	font-family: "Times New Roman", serif;
	font-size: 50px;
}
h6{
	color: #5E0035;
	margin-top: 100px;
	margin-left: 400px;
	font-size: 30px;
}
p {
	color:#113F67;
	}
video{
	margin-left: 300px;
}
